<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fontDefault</key>
	<string>Papyrus</string>
	<key>fontCabourgBold</key>
	<string>CabourgOT-Bold</string>
	<key>fontCabourgRegular</key>
	<string>CabourgOT-Regular</string>
	<key>fontLatoRegular</key>
	<string>Lato-Regular</string>
	<key>fontLatoBold</key>
	<string>Lato-Bold</string>
	<key>fontLatoItalic</key>
	<string>Lato-Italic</string>
	<key>fontRegular</key>
	<string>Poppins-Regular</string>
	<key>fontLight</key>
	<string>Poppins-Light</string>
	<key>fontMedium</key>
	<string>Poppins-Medium</string>
	<key>fontBold</key>
	<string>Poppins-SemiBold</string>
	<key>minimumFontSize</key>
	<integer>9</integer>
	<key>sizeXXSmall</key>
	<integer>10</integer>
	<key>sizeXSmall</key>
	<integer>12</integer>
	<key>sizeSmall</key>
	<integer>14</integer>
	<key>sizeMedium</key>
	<integer>16</integer>
	<key>sizefontLarge</key>
	<integer>18</integer>
	<key>sizeXLarge</key>
	<integer>22</integer>
	<key>sizeXXLarge</key>
	<integer>24</integer>
	<key>sizeXXXLarge</key>
	<integer>30</integer>
	<key>size4XLarge</key>
	<integer>30</integer>
	<key>size5XLarge</key>
	<string>35</string>
</dict>
</plist>
